<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <style>
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
            font-family: 'Roboto Condensed', sans-serif;
        }

        .splash-container {
            position: relative;
            width: 100%;
            height: 100%;
            background: #039be5;
            text-align: center;
        }

            .splash-container .title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
            }

                .splash-container .title img {
                    width: 200px;
                    height: 200px;
                    border: solid 3px white;
                    border-radius: 50%;
                    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
                    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
                }

                .splash-container .title h1 {
                    margin-bottom: 0px;
                }

                .splash-container .title h2 {
                    margin: 0px;
                    color: lightgray;
                    text-transform: uppercase;
                }

            .splash-container .links {
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.15);
                padding: 15px;
                border-radius: 0 0 0 4px;
            }

                .splash-container .links ul {
                    display: block;
                    padding: 0;
                    margin: 0;
                }

                    .splash-container .links ul li {
                        display: inline;
                        font-size: 22px;
                        padding: 0px 5px;
                    }

                        .splash-container .links ul li a {
                            text-decoration: none;
                            color: white;
                        }
    </style>
    <body>
        <div class="splash-container">
            <div class="title">
                <img src="~/NewFolder/myAvatar.png" />
                <h1>Griffin Jaeger</h1>
                <h2>Full Time Mythological Creature</h2>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="facebook.com">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="github.com"
                        <i class="fab fa-github-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="linkedin.com"
                        <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</head>
</html>